:root {
    --tile-border-main: rgb(137, 137, 137);
    --tile-border-selector : rgb(0, 0, 0);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FontSizes*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.4rem;
}
p {
    font-size: 1.2rem;
}


html, body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    width: 100%;
    background-color: lightblue;
}
header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    display: flex;
    justify-content: center;
    color: white;
}
header section {
    display: flex;
    justify-self: center!important;
    border: 2px solid black;
    margin: 0 2rem;
}
header nav {
    border: 2px solid black;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main {
    grid-area: main;
    width: 100%;
    position: relative;
}
footer {
    grid-area: footer;
    background-color: black;
}
hr {
    all: revert;
}
.fullLength {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.playingField {
    width: 95%;
    max-width: 590px;
    background-color: rgb(224, 225, 186);
    margin: auto;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.playingField .fullLength { 
    background-color: aliceblue;
    padding: 4px;
    margin-bottom: 1rem;
}
.playingField .fullLength h4 {
    padding-top: 10px;
}
.playingField .fullLength h3 {
    text-decoration: underline red;
    padding-top: 4px;
}
.playingField .fullLength>section {
    display: flex;
    flex-wrap: wrap;
}
#timeFieldMin {
    letter-spacing: 0.2rem;
}
#lifeField {
    color: red;
}

#sudokuField {
    background-color: rgba(255, 202, 202, 0);
    max-width: 460px;
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    padding: 4px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9,1fr);
    border-radius: 24px;
    position: relative;
}
#choices {
    margin-top: 1rem;
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* deze laden we achteraf in met JS*/
/* de selecteer tegel of selectorTile, ik gebruik deze manier ipv te typen voor mobile gebruik */
.selectorTile {
    width: 44px;
    height: 44px;
    border: 2px solid var(--tile-border-selector);
    margin: 2px;
    text-align: center;
    padding: 8px;   
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}
.lockedTiny {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
    aspect-ratio: 1;
    color: grey;
    font-size: 1rem;
}
.selectorActive {
    background-color: rgba(0, 0, 0, 0.3);
}

/*De speeltegels*/
.fieldTile {
    width: 1fr;
    height: 1fr;
    border: 1px solid var(--tile-border-main);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.6rem;
    padding-top: 10px;  
}
.generatedNumber {
    background-color: rgb(200, 200, 200);
}
.userFilled {
    background-color: aquamarine!important;
}

/* de popupboxes.*/
#greyScale {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4; 
}
#playSudoku {
    position: absolute;
    width: 90%;
    aspect-ratio: 1;
    background-color: rgb(220, 220, 220);
    top: 5%;  
    box-shadow: 12px 12px 9px rgba(0, 0, 0, 0.75);
    border: 2px solid black;  

}
#playSudoku h2 {
    padding: 8px;
    color: whitesmoke;
    background-color: black;
    border:4px solid rgb(255, 0, 0);
    letter-spacing: 0.2rem;
    text-decoration: underline 2px red;
    
}
#playSudoku>h4 {
    text-align: center;
    padding: 4px;
    display: block;
    background-color: aliceblue;
    border: 2px solid black;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.forForm {
    margin: auto;
    margin-top: 0.5rem;
    width: 90%;
    height: 35%;
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;

}
.moreGames {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 1rem;
}
.moreGames article {
    width: 25%;
    aspect-ratio: 1;
    border: 3px solid black;
}
#startButton {
    width: 100%;
    height: 32px;
    background-color: blueviolet;
    margin-top: 0.4rem;
    color: aliceblue;
}
#playForm {
    margin: 1rem auto;
    border: 2px solid black;
    background-color: aliceblue;
    width: 70%;
    padding: 8px;
    text-align: center;
}
#playForm label {
    display: block;
    width: 100%;
    text-align: center; 
    font-size: 1.2rem; 
    border-bottom: 2px solid black;  
    margin-bottom: 0.4rem;
}
#selectDiff {
    display: block;
    width: 50%;
    margin: auto;
    background-color: antiquewhite;
    padding: 8px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 16px ;
    border: 2px solid black;

}
.boxText {
    margin: 1rem auto;
}

/* De failed or fixed box stylen*/
#failedOrFixed {
    position: absolute;
    width: 70%;
    height: auto;
    background-color: rgb(255, 255, 255);
    top: 120px;
    
    z-index: 6;
    
    text-align: center;
}
.sideBorders {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
}
#failedOrFixed h3 {
    text-decoration: underline red;
    color: white;
    background-color: black;
    border: 3px solid red;
    padding: 4px;
    margin: 0;
}
#failedOrFixed h4 {
 margin: auto 0.4rem;
 padding: 4px;
 border-bottom: 2px solid grey;
 
}
#endScore {
    color: green;
    text-decoration: underline red;
}
.sideBorders p {
    padding-bottom: 4px;
}
#reRun {
    width: 100%;
    color: whitesmoke;
    background-color: black;
    padding: 12px 4px;
    border: 2px solid red;
    text-decoration: underline red;
}
#saveScore {
    margin-top: 0.6rem;
    padding: 4px;
    width: 60%;
    color: whitesmoke;
    text-decoration: underline red;
    border: 2px solid red;
    background-color: black;
}


/* LEADERBOARD STILING HIERONDER*/
.leaderBoardBox {
    width: 100%;
    border: 2px solid black;
    font-size: 1.2rem;
    max-height: 320px;
    overflow: scroll;

}
.extras {
    padding: 8px;
}
table thead {
    border: 3px solid red;
}
table tbody {
    border: 3px solid black;
}
table th {
    color: white;
    background-color: black;
    text-decoration: underline red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    text-align: center;
}
table td {
    padding-left: 12px;
    background-color: whitesmoke;
    border: 2px solid black;
}
.moreBox {
    min-height: 200px;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: azure;
}


/* enkel styling */
.BTL:first-of-type {
    border-radius: 24px 0 0 0;
}
.BTL:nth-of-type(3n + 1) {
    border-radius: 24px 0 0 0;
}
.BTR:nth-of-type(3n + 3) {
    border-radius: 0 24px 0 0;
}
.BBR:nth-of-type(3n + 3) {
    border-radius: 0 0 24px 0;
}
.BBL:first-of-type {
    border-radius: 0 0 0 24px;
}
.BBL:nth-of-type(3n + 1) {
    border-radius: 0 0 0 24px;
}

/* Avtive en hider classes*/
.hidden101 {
    display: none;
}
.active101 {
    display: none;
}
button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    header nav {
        display: none;
    }    
}
